@import 'reset.css';
/*<Onboarding>*/
@keyframes adjust-progress {
  from {
    transform: scaleX(calc(1 / var(2)));
  }
  to {
    transform: scaleX(1);
  }
}
.onboarding {
  /*width: 1712px;*/
  display: flex;
  flex-direction: column;
}
.ob_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.symbol {
  width: 37px;
  height: 37px;
  padding-left: 104px;
  padding-top: 93px;
}
.logo {
  width: 289px;
  height: 37px;
  padding-top: 93px;
}

.ob_1 button {
  width: 133px;
  height: 52px;
  padding: 11px 39px 11px 39px;
  margin-right: 104px;
  margin-top: 93px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
}
.ob_2 {
  height: 500px;
  width: 1330px;
  border-radius: 16px;
  text-align: center;
  border: 1px black;
  background-color: gray;
  margin-left: 104px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-image: url('./image/camera2.jpg');
  background-repeat: no-repeat;
}

/*<Notice>*/
.Notice {
  display: flex;
  flex-direction: column;
}
.no_head {
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 538px;
  margin-top: 460px;
}
.types button {
  border-radius: 18px;
  padding: 3px 25px 3px 25px;
}
.types :nth-child(1) {
  width: 71px;
  height: 36px;
  border: none;
  color: white;
  background-color: rgba(255, 139, 0, 1);
}
.types :nth-child(2) {
  width: 112px;
  height: 36px;
  border: 1px solid;
  background-color: white;
  color: rgba(194, 194, 194, 1);
  margin-left: 16px;
}
.types :nth-child(3) {
  width: 97px;
  height: 36px;
  border: 1px solid;
  background-color: white;
  color: rgba(194, 194, 194, 1);
  margin-left: 16px;
}
.types :nth-child(4) {
  width: 112px;
  height: 36px;
  border: 1px solid;
  background-color: white;
  color: rgba(194, 194, 194, 1);
  margin-left: 16px;
}
.types2 select {
  width: 94px;
  height: 36px;
  border: 1px solid;
  background-color: white;
  color: rgba(194, 194, 194, 1);
  border-radius: 18px;
}
.types2 select option {
  text-align: center;
  width: 50px;
  height: 30px;
}
hr {
  width: 1280px;
  margin-left: 538px;
  margin-top: 21px;
  opacity: 10%;
}
.hr1 {
  margin-top: 107px;
}

.contents {
  display: flex;
  flex-direction: row;
  width: 1235px;
  margin-left: 571px;
  margin-top: 21px;
  justify-content: space-between;
}
.contents1 {
  opacity: 70%;
}
.contents3 {
  opacity: 30%;
}
.no_footer {
  display: flex;
  flex-direction: row;
  margin-left: 989px;
  margin-top: 57px;
  width: 378px;
  justify-content: space-between;
}

.no_footer :nth-child(1),
.no_footer :nth-child(7) {
  /*margin-left: 39px;*/
  width: 12px;
  height: 30px;
  opacity: 30%;
}
.no_footer :nth-child(2) {
  border: 1px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-left: 1px;
}
